@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: #222222;
}